# Не забываем засовывать строки в ковычки! "imap.yandex.kz"
# Пустые строки вызовет False у if, None воспримется как строка

# Данные почты: imap, логин и пароль. Порт imap по умолчанию для ssl. Без щифрования - 143
# Например imap.yandex.kz удобен на момент написания этого комментария
EMAIL_IMAP = 
EMAIL_IMAP_PORT = 993
EMAIL_LOGIN = 
EMAIL_PASSWORD = 

# Номер телефона, на который зарегестрированная учетная запись ozon. Должно быть привязано к почте выше. 
# Не должен быть привязан whatsapp, так как озон может слать код для входа и на него
OZON_NUMBER = 

# токен телеграм бота
TG_TOKEN = 

# захардкодить версию хрома - если браузер не обновляется, а хромдрайвер по умолчанию берется последней версии
CHROMIUM_VERSION = 